<div class="header clearfix mt-2">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link active" href>{{_aluno}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href>Posição {{_posicao}}</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted" ng-bind="_turma"></h3>
</div>
<hr>
<div class="row row-offcanvas row-offcanvas-right mt-3">
    <div class="col-md-10">
        <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="row">
            <div class="col-3">
                <h6>Perguntas {{_perguntas.length}} - <span class="text-success">Respostas  {{(_perguntas|filter:status==true).length}}</span>
                </h6>
                <div style="overflow-y: auto; height:600px; width: 100%;">
                    <p ng-repeat="p in _perguntas">
                        <span ng-show="p.status == false" ng-bind="p.pergunta"></span>
                        <span ng-show="p.status == true"><s>{{p.pergunta}}</s> <span class="text-success">R: {{p.resposta}}</span></span>
                    </p>
                </div>
            </div>
            <div class="col-9">
                <div id="canvas"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2 sidebar-offcanvas" id="sidebar">
        <div class="ml-4">
            <h6>Ranking</h6>
        </div>
        <div class="list-group text-center" style="overflow-y: auto; height:600px; width: 140px;">
            <div class="profile-header-img" ng-repeat="a in alunos">
                <a href="https://facebook.com/{{a.id_facebook}}" title="{{a.nome}}" target="_blank">
                    <img class="rounded-circle"
                         ng-src="http://graph.facebook.com/{{a.id_facebook}}/picture?type=normal"/>
                </a>
                <div class="rank-label-container">
                    <span class="label label-default rank-label">{{a.pontuacao}} Pontos</span>
                </div>
            </div>
        </div>
    </div>
</div>