<div class="header clearfix mt-2">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link active" href="#/professor" role="button">Voltar<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted" ng-bind="_turma"></h3>
</div>
<hr>
<div class="row row-offcanvas row-offcanvas-right mt-3">
    <div class="col-8">
        <div style="overflow-y: auto; height:600px; width: 100%;">
            <div class="row">
                <div ng-repeat="a in alunos" class="col-3">
                    <img class="rounded-circle"
                         ng-src="http://graph.facebook.com/{{a.id_facebook}}/picture?type=large"
                         alt="{{a.nome}}" width="140" height="140">
                    <h6 ng-bind="a.nome"></h6>
                    <p ng-show="a.pontuacao > 0"><a class="btn btn-secondary" href="#/professor/turma/{{a._id}}"
                                                    role="button">{{a.pontuacao}}
                        Pontos »</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h6>Perguntas {{_perguntas.length}}</h6>
        <div style="overflow-y: auto; height:600px; width: 100%;">
            <p ng-repeat="p in _perguntas">
                <span>{{p.pergunta}} <span class="text-success">R: {{p.resposta}}</span></span>
            </p>
        </div>
    </div>
</div>