<div class="header clearfix mt-2">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link" href="#/professor/{{turma_link}}">Voltar</a>
            </li>
        </ul>
    </nav>
    <h4 class="text-muted">{{_turma}} ({{aluno}} - Posição {{posicao}} de {{alunos.length}})</h4>
</div>
<hr>
<h4 class="mb-3">Respostas</h4>
<div class="row marketing text-justify">
    <div ng-repeat="p in perguntas_aluno" class="col-3">
        <h6 ng-bind="p.pergunta"></h6>
        <p class="text-success" ng-bind="p.resposta"></p>
    </div>
</div>