<div class="jumbotron mt-3">
    <div class="container">
        <h1 class="display-3">Olá, Professor!</h1>
        <p>Você pode acessar qualquer turma abaixo.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4" ng-repeat="t in turmas">
        <h2 ng-bind="t.nome"></h2>
        <p class="text-justify">Mussum Ipsum, cacilds vidis litro abertis.
            Quem num gosti di mum que vai caçá sua turmis! Manduma pindureta quium dia nois paga.
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimiss. Quem num gosta di mé, boa gente num é.</p>
        <p><a class="btn btn-secondary btn-info" ng-click="acessaTurma(t.nome)" href="#/professor/{{t._id}}"
              role="button">Acessar Turma »</a></p>
    </div>
</div>